<div class="container">
    {{#with user}}

    <div class="center">
        <h3>Welcome {{username}}</h3>
        <hr>
    </div>

    {{/with}}

    <h4>Users</h4>

    {{#each users}}

    <div class="row align-items-center">
        <div class="col-2"> <img src="{{profileImg}}" alt="" class="icon"></div>
        <div class="col-3">
            <p>Name: {{username}}</p>
            <p>Role: {{role}}</p>
        </div>
        <div class="col-4"><a href='/delete-user/{{id}}' class="btn btn-danger"> Eliminar usuario</a></div>
    </div>
    <hr>

    {{/each}}

</div>