<div class="container">
    <h1 class="center titlesign" style="padding: 20px">Edit your info</h1>
    <form action="/edit-user" method='POST' class="edit-profile form" enctype="multipart/form-data">
        <div class="row flex-wrap-reverse justify-content-center">
            <div class="col-lg-5 col-md-7 col-sm-10">
                <label>Username</label><br>
                <input type="text" name="username" value={{username}}>
                <br>
                <label>Email</label><br>
                <input type="email" name="email" value={{email}}>
                <br>
                <label>Telephone</label><br>
                <input type="text" name="telephone" value="{{telephone}}"><br>
            </div>

            <div class="col-lg-4 col-md-5 col-sm-10 center">
                <label>Image</label><br>
                <img src="{{profileImg}}" alt="Bar photo" class="edit-profimg">
                <input type="file" class="form-control-file" name="profileImg" value="{{profileImg}}">
            </div>
        </div>
        <div class="prof-buttons">
            <button type="submit" class="btn prof-btn">Edit</button>
            <a href='/delete-user/{{id}}' class="btn btn-danger">Delete user</a>

            <a href='/profile' class="btn back">Back to profile</a>
        </div>

        {{#if errorMsg}}
        <p style="margin-top: 10px;background:  color: white; padding: 3px; font-size: 1.5em;">
            {{errorMsg}}
        </p>
        {{/if}}
    </form>
</div>