<div class="container">
    <h1 class="center beige titlesign">Edit your info</h1>
    <form action="/edit-user" method='POST' class="edit-profile form" enctype="multipart/form-data">
        <div class="row flex-wrap-reverse">
            <div class="col-md-7 col-sm-12">
                <label>Username</label><br>
                <input type="text" name="username" value={{username}}>
                <br>
                <label>Email</label><br>
                <input type="email" name="email" value={{email}}>
                <br>
                <label>Telephone</label><br>
                <input type="text" name="telephone" value="{{telephone}}"><br>
                <div class=flex>
                <button type="submit" class="btn form-btn ">Edit</button>
                <a href='/delete-user/{{id}}' class="btn btn-danger delete-user">Delete user</a>
            </div>
            </div>

            <div class="col-md-5 col-sm-12">
                <label>Image</label><br>
                <img src="{{profileImg}}" alt="Bar photo" class="edit-profimg">
                <input type="file" class="form-control-file" name="profileImg" value="{{profileImg}}">
            </div>
        </div>


        {{#if errorMsg}}
        <p style="margin-top: 10px;background:  color: white; padding: 3px; font-size: 1.5em;">
            {{errorMsg}}
        </p>
        {{/if}}
    </form>
</div>