<div class="container details">
    <a href="/bars"><img
            src="https://res.cloudinary.com/djqsmqs26/image/upload/v1606465589/Project-2/left-arrow_alwix3.svg"
            alt="back arrow" class="icon" />Back to bars</a>

    <div class="heading">
        <h2>{{bar.name}}</h2>
        {{#if isLogin}}
        {{#if isGuest}}
        {{#unless isFav}}
        <button class="btn form- btn-danger none" id="nofavButton">Remove from favourites</button>
        <button class="btn form-btn" id="favButton">Add to favourites</button>
        {{/unless}}
        {{#if isFav}}
        <button class="btn form- btn-danger " id="nofavButton">Remove from favourites</button>
        <button class="btn form-btn none" id="favButton">Add to favourites</button>
        {{/if}}
        {{/if}}
        {{/if}}
        <hr>
    </div>

    <div class="row bar-detail">

        <div class="col-lg-7 col-md-12">

            {{#with bar}}
            {{>barInfo}}
            {{/with}}

            <section class="comments-section">
                <h5>Comments</h5>
                <hr class="hrcom">

                {{#each bar.comments}}
                <div class="flex">
                    <img src="{{userid.profileImg}}" alt="" class="profileImg">
                    <p class="comment"><strong>{{userid.username}}</strong>: {{comment}}</p>
                </div>
                {{/each}}

                {{#if isLogin}}
                <form method="POST" action="/bars/add-comment/{{bar.id}}">

                    {{!-- <input type="text" class="none" value={{bar.id}}>
                        <input type="text" class="none" value="{{user.id}}" placeholder="{{user.id}}"> --}}

                    <textarea type="text-area" placeholder="Add a comment" name="comment"
                        class="form-control comment-form"></textarea>
                    <button type="submit" id="addComment" class="btn form-btn">Add</button>
                </form>
                {{/if}}

            </section>

        </div>
        <div class="col-lg-5 col-md-12">
            <div id="barMap"></div>
            {{#if isLogin}}
            <section class="contact">
                <h5>Contact the owner</h5>
                <hr>
                <a target="_blank" href="https://api.whatsapp.com/send?phone=34{{bar.owner.telephone}}"><img
                        src="https://res.cloudinary.com/djqsmqs26/image/upload/v1606388472/Project-2/wpp-logo_fsrlvb.png"
                        alt="whatsapp logo" /></a>
                <a href="#"><img
                        src="https://res.cloudinary.com/djqsmqs26/image/upload/v1606393505/Project-2/contacto-mail-icono_yqc0gj.png"
                        alt="mail logo" id="mail-btn" /></a>

                <form method="POST" action="/send-email" class='none' id='mail-form'>
                    <div class='form-group'>
                        <input type="text" class="none" value="{{bar.id}}" name="barId" id='barId'>
                        <input name='email' type='email' class='form-control none' id='to' value={{bar.owner.email}}>
                    </div>
                    <div class='form-group'>
                        <label for='subject'>Asunto</label>
                        <input name='subject' type='text' class='form-control' id='subject'>
                    </div>
                    <div class='form-group'>
                        <label for='message'>Mensaje</label>
                        <textarea class="form-control" name="message" id="message" rows="3"></textarea>
                    </div>
                    <button type='submit' class='btn btn-block beige-btn'>Enviar email</button>
                </form>
            </section>
            {{/if}}
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/javascripts/apiHandler.js"></script>
<script src="/javascripts/script.js"></script>
<script src="/javascripts/bar-map.js"></script>
<script src="{{{myKey}}}"></script>