<div class="container details">
    <div class="row">
        <div class="col-lg-5 col-md-12 bar-detail">
        {{#with bar}}
            <h2>{{name}}</h2>
            <button id="favButton">Add to favourites</button>
            <hr>
            <img src="{{image}}">
            <h5>Description</h5>
            <p>{{description}}</p> 
        {{/with}}
            <section>
                    <h5>Comments</h5>
                {{#each bar.comments}}
                    <p><small>{{userid.username}}</small>: {{comment}}</p>
                    
                {{/each}}
                <div id="barid">
                <input type="text" class="none" value="{{bar.id}}" >
                {{!-- <input type="text" class="none" value="{{user.id}}" placeholder="{{user.id}}"> --}} 
                </div>
                {{#if isLogin}}
                <form method="POST" action="/bars/add-comment/{{bar.id}}">
                
                <input type="text" placeholder="Add a comment" name="comment">
                <button type="submit" id="addComment" class="btn comment">Add</button>
                </form>
                {{/if}}
               
            </section>
       
        </div>
      
            <div id="barMap"class="col-lg-7 col-md-12"></div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script src="/javascripts/bar-map.js"></script>
<script src="{{{myKey}}}"></script>

<script type="test/javascript" src="../../javascripts/apiHandler.js"></script>