<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-7">

            <h1 style="padding-top: 20px">Edit {{name}}</h1>

            <form method="POST" action="/edit-bar?id={{id}}" enctype="multipart/form-data">

                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" name="name" value="{{name}}">
                </div>

                <div class="form-group">
                    <label>Description</label>
                    <input type="text" class="form-control" name="description" value="{{description}}">
                </div>

                <div class="form-group">
                    <label>Image</label><br>
                    <img src="{{image}}" alt="Bar photo" class="edit-img">
                    <input type="file" class="form-control" name="image" value="{{image}}">
                </div>

                <div class="form-group">
                    {{#with this.location}}
                    <h4>Location</h4>
                    <hr>
                    <label>Latitude</label>
                    <input type="text" class="form-control" name="latitude" value="{{coordinates.[0]}}">
                    <label style="margin-top: 10px">Longitude</label>
                    <input type="text" class="form-control" name="longitude" value="{{coordinates.[1]}}">
                    {{/with}}
                </div>

                <button type="submit" class="btn beige-btn">Editar</button>
                <a href="/delete-bar?id={{id}}" class="btn btn-danger">Eliminar</a>
                <a href="/profile" class="btn btn-outline-dark back">Back</a>
            </form>

        </div>
    </div>
</div>